################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NutrientCalculator/NutrientCalculator.App/obj
/NutrientCalculator/NutrientCalculator.App/ClientApp/node_modules
/NutrientCalculator2/.vs/nutrienteCalculator
